@model IEnumerable<ObligatorioP3.Models.Restaurante>
@{
    ViewData["Title"] = "Home Page";
    List<string> fotos = ViewBag.FotoRestaurantes;
}
<link rel="stylesheet" href="~/css/ResSlider.css" asp-append-version="true" />

<div>
    <div class="carousel">
        <ul class="slides">
            @{
                bool first = true;
                int counter = 1;
                foreach(var item in Model)
                {
                    string showFoto = "";
                    foreach (var foto in fotos)
                    {
                        var fotoId = foto.Split('.');
                        if (fotoId[0] == item.Id.ToString())
                        {
                            showFoto = foto;
                            break;
                        }
                    }
                    if(first == true)
                    {
                        <input type="radio" name="radio-buttons" id="img-@counter" checked />
                        <li class="slide-container">
                        <div class="ReserveButton">
                                <a class="botonReserva" asp-controller="Reservas" asp-action="Reservar" asp-Route-ResId="@item.Id">Reservar - @item.Nombre</a>
                        </div>
                            
                            <div class="slide-image">
                                <img src="@Url.Content("~/FotoRestaurantes/")@showFoto">    
                            </div>
                            <div class="carousel-controls">
                                <label for="img-@(counter + 2)" class="prev-slide">
                                    <span>&lsaquo;</span>
                                </label>
                                <label for="img-@(counter + 1)" class="next-slide">
                                    <span>&rsaquo;</span>
                                </label>
                            </div>
                        </li>
                    }
                    else
                    {
                        <input type="radio" name="radio-buttons" id="img-@counter" />
                        <li class="slide-container">
                            <div class="slide-image">
                                <a asp-action="Reservar" asp-controller="Reservas" asp-Route-ResId="@item.Id">
                                    <img src="@Url.Content("~/FotoRestaurantes/")@showFoto">
                                </a>  
                            </div>
                            <div class="carousel-controls">
                                <label for="img-@(counter - 1)" class="prev-slide">
                                    <span>&lsaquo;</span>
                                </label>
                                <label for="img-@(counter + 1)" class="next-slide">
                                    <span>&rsaquo;</span>
                                </label>
                            </div>
                        </li>
                    }
                    first = false;
                    counter += 1;
                }
            }
         
                <div class="carousel-controls">
                    <label for="img-2" class="prev-slide">
                        <span>&lsaquo;</span>
                    </label>
                    <label for="img-1" class="next-slide">
                        <span>&rsaquo;</span>
                    </label>
                </div>
            </li>
            <div class="carousel-dots">
                <label for="img-1" class="carousel-dot" id="img-dot-1"></label>
                <label for="img-2" class="carousel-dot" id="img-dot-2"></label>
                <label for="img-3" class="carousel-dot" id="img-dot-3"></label>
            </div>
        </ul>
    </div>
</div>
@* <script src="~/js/site.js" asp-append-version="true"></script> *@
<script>

</script>